# Mastering Concatenation!

Two county organizations that you are a part of, Financial Leaders of America and Investors Leadership Council, have recently joined forces. Help the treasurer out by consolidating the dues and member data.

In [24]:
import pandas as pd
from pathlib import Path

### Read in data

In [26]:
fin_leaders_america_path = Path('../Resources/fin_leaders_america.csv')
investors_leadership_path = Path('../Resources/invstrs_leadership.csv')
fin_leaders_mem_path = Path('../Resources/fin_leaders_members.csv')
investors_leadership_mem_path = Path('../Resources/invstrs_leadership_members.csv')

fla_data = pd.read_csv(fin_leaders_america_path)
il_data = pd.read_csv(investors_leadership_path)
flm_data = pd.read_csv(fin_leaders_mem_path)
ilm_data = pd.read_csv(investors_leadership_mem_path)

### Concat dues data using `rows` axis and `inner` join

In [27]:
joineddata= pd.concat([fla_data, il_data] , axis="rows", join="outer")
joineddata #= joineddata.reset_index()

          MemberName  DuesOwed  DuesPaid
0      Warren Buffet         0      2500
1       Janet Yellen       100      2400
2    Abigail Johnson         0      2500
3         Larry Fink      2500         0
0      Warren Buffet         0      2500
1       Janet Yellen       100      2400
2    Abigail Johnson         0      2500
3         Larry Fink      2500         0
4       Mario Draghi      2500         0
5  Michael Bloomberg      2500         0
6          Ray Dalio         0      2500

### Concat member data using `rows` axis and `inner` join

In [18]:
joineddata2 = pd.concat([flm_data, ilm_data], axis='rows', join='inner')
joineddata2 =joineddata2.reset_index()

### Concat dues and member data using `columns` axis and `inner` join

In [31]:
joineddata3 = pd.concat([joineddata, joineddata2], axis= 'columns', join= 'inner')
joineddata3

ValueError: Shape of passed values is (11, 6), indices imply (7, 6)

In [30]:
memberdefined = joineddata3.groupby(('MemberName')['DuesOwed','DuesPaid'], inplace=True)

TypeError: string indices must be integers

In [8]:
flm_data

        MemberName MembershipStatus
0    Warren Buffet    Good Standing
1     Janet Yellen    Good Standing
2  Abigail Johnson    Good Standing
3       Larry Fink       Delinquent

In [9]:
il_data

          MemberName  DuesOwed  DuesPaid
0      Warren Buffet         0      2500
1       Janet Yellen       100      2400
2    Abigail Johnson         0      2500
3         Larry Fink      2500         0
4       Mario Draghi      2500         0
5  Michael Bloomberg      2500         0
6          Ray Dalio         0      2500

In [10]:
fla_data

        MemberName  DuesOwed  DuesPaid
0    Warren Buffet         0      2500
1     Janet Yellen       100      2400
2  Abigail Johnson         0      2500
3       Larry Fink      2500         0