In [6]:
# Dependencies
import pandas as pd
import numpy as np
import requests
import json

# Google API Key
gkey = "AIzaSyA_Clyz3478YAUnsESNHE5dyktvvMoa-vw"

In [7]:
# Import cities file as DataFrame
cities_pd = pd.read_csv("cities.csv")
cities_pd = cities_pd.head()

In [8]:
# Add columns for lat, lng, airport name, airport address, airport rating
# Note that we used "" to specify initial entry.
cities_pd["Lat"] = ""
cities_pd["Lng"] = ""
cities_pd["Airport Name"] = ""
cities_pd["Airport Address"] = ""
cities_pd["Airport Rating"] = ""
cities_pd.head()

,City,State,Lat,Lng,Airport Name,Airport Address,Airport Rating
0,New York,New York,,,,,
1,Los Angeles,California,,,,,
2,Chicago,Illinois,,,,,
3,Houston,Texas,,,,,
4,Philadelphia,Pennsylvania,,,,,

In [9]:
# Loop through the cities_pd and run a lat/long search for each city
for index, row in cities_pd.iterrows():
    target_url = "https://maps.googleapis.com/maps/api/geocode/json?address=%s&key=%s" % (row["City"].replace(" ","+"), gkey)
    cities_lat_lng = requests.get(target_url).json()
    location = cities_lat_lng["results"][0]["geometry"]["location"]
    cities_pd.loc[index, "Lat"] = location["lat"]
#     cities_pd.set_value(index, "Lat", cities_lat_lng["results"][0]["geometry"]["location"]["lat"])
    cities_pd.set_value(index, "Lng", location["lng"])
    print(target_url)
                
# Visualize to confirm lat lng appear
cities_pd.head()

https://maps.googleapis.com/maps/api/geocode/json?address=New+York&key=AIzaSyA_Clyz3478YAUnsESNHE5dyktvvMoa-vw
https://maps.googleapis.com/maps/api/geocode/json?address=Los+Angeles&key=AIzaSyA_Clyz3478YAUnsESNHE5dyktvvMoa-vw
https://maps.googleapis.com/maps/api/geocode/json?address=Chicago&key=AIzaSyA_Clyz3478YAUnsESNHE5dyktvvMoa-vw
https://maps.googleapis.com/maps/api/geocode/json?address=Houston&key=AIzaSyA_Clyz3478YAUnsESNHE5dyktvvMoa-vw
https://maps.googleapis.com/maps/api/geocode/json?address=Philadelphia&key=AIzaSyA_Clyz3478YAUnsESNHE5dyktvvMoa-vw

,City,State,Lat,Lng,Airport Name,Airport Address,Airport Rating
0,New York,New York,40.7128,-74.006,,,
1,Los Angeles,California,34.0522,-118.244,,,
2,Chicago,Illinois,41.8781,-87.6298,,,
3,Houston,Texas,29.7604,-95.3698,,,
4,Philadelphia,Pennsylvania,39.9526,-75.1652,,,

In [13]:
# Use the lat/lng we recovered to identify airports
for index, row in cities_pd.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Use the search term: "International Airport" and our lat/lng
    target_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=%s,%s&radius=50000&types=%s&keyword=international+airport&key=%s" % (lat, lng, "airport", gkey)
    name_address = requests.get(target_url).json()
    print(target_url)
    # print(json.dumps(name_address, indent=4, sort_keys=True))
    
    # Since some data may be missing we incorporate a try-except to skip any that are missing a data point.
    try:
        cities_pd.set_value(index, "Airport Name", name_address["results"][0]["name"])
        cities_pd.set_value(index, "Airport Address", name_address["results"][0]["vicinity"])
        cities_pd.set_value(index, "Airport Rating", name_address["results"][0]["rating"])
    
    except KeyError:
        print("Missing field... skipping.")

Philadelphia

In [7]:
# Save Data to csv
cities_df.to_csv("Airport_Output.csv")

# Visualize to confirm airport data appears
cities_df.head(10)

,City,State,Lat,Lng,Airport Name,Airport Address,Airport Rating
0,New York,New York,40.7128,-74.006,Newark Liberty International Airport,"3 Brewster Road, Newark",3.3
1,Los Angeles,California,34.0522,-118.244,Los Angeles International Airport,"1 World Way, Los Angeles",3.5
2,Chicago,Illinois,41.8781,-87.6298,Bolingbrook's Clow International Airport,"130 Clow International Parkway C, Bolingbrook",4.3
3,Houston,Texas,29.7604,-95.3698,William P. Hobby Airport,"7800 Airport Boulevard, Houston",4.1
4,Philadelphia,Pennsylvania,39.9526,-75.1652,Philadelphia International Airport,"8000 Essington Ave, Philadelphia",3.3
5,Phoenix,Arizona,33.4484,-112.074,Phoenix Sky Harbor International Airport,"3400 East Sky Harbor Boulevard, Phoenix",3.9
6,San Antonio,Texas,29.4241,-98.4936,San Antonio International Airport,"9800 Airport Boulevard, San Antonio",3.9
7,San Diego,California,32.7157,-117.161,San Diego International Airport,"3225 North Harbor Drive, San Diego",3.9
8,Dallas,Texas,32.7767,-96.797,Dallas/Fort Worth International Airport,"2400 Aviation Drive North, DFW Airport",3.8
9,San Jose,California,37.3382,-121.886,Oakland International Airport,"1 Airport Drive, Oakland",3.9