In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [3]:
df["col1"] = [1, 2, 3, 4]

In [4]:
df

   col1
0     1
1     2
2     3
3     4

In [8]:
df["col2"] = ""
df["col3"] = ""

In [9]:
df

   col1 col2 col3
0     1
1     2
2     3
3     4

In [12]:
for index, row in df.iterrows():
    # api request for airports
    # df.loc[row, col] = airport name

0
col1    1
col2
col3
Name: 0, dtype: object
1
col1    2
col2
col3
Name: 1, dtype: object
2
col1    3
col2
col3
Name: 2, dtype: object
3
col1    4
col2
col3
Name: 3, dtype: object