In [7]:
# List
ceo_list = ["Warren", "Jack", "Harry"]

# List of Lists
ceo_nested_list = [
    ["Warren Buffet", 88, "CEO of Berkshire Hathaway"],
    ["Jeff Bezos", 55, "CEO of Amazon"],
    ["Harry Markowitz", 91, "Professor of Finance"]
]

In [8]:
# Retrieve first entry of ceo_nested_list
first_entry = ceo_nested_list[2]
first_entry

['Harry Markowitz', 91, 'Professor of Finance']

In [10]:
# Retrieve name of first entry
first_entry_name = ceo_nested_list[2][0]
first_entry_name

'Harry Markowitz'

In [11]:
# Retrieve age of first entry
first_entry_age = ceo_nested_list[2][1]
first_entry_age

91

In [12]:
# Retrieve occupation of first entry
first_entry_occupation = ceo_nested_list[2][2]
first_entry_occupation

'Professor of Finance'

In [6]:
# Print results to screen
print("The first entry in employees_nested_list is:", first_entry)
print(f"{first_entry_name} is {first_entry_age} years old, serving as {first_entry_occupation}.")

The first entry in employees_nested_list is: ['Warren Buffet', 88, 'CEO of Berkshire Hathaway']
Warren Buffet is 88 years old, serving as CEO of Berkshire Hathaway.