In [3]:
import requests
import json
import csv
import pandas as pd
import numpy as np
from tqdm import tqdm_notebook as tqdm

In [2]:

#-----------------------------####--------------------------------------------

#Getting CSV file of the most populated cities in the world - need Airport Codes
csv_path = "../Resources/most_populated_cities_csv2.csv"
most_populated_cities_df = pd.read_csv(csv_path,encoding="utf-8")
most_populated_cities_df.head()

#Getting CSV file of the most visited cities in the world - Need Airport Codes
csv_path2 = "../Resources/100_Most_visited_cities.csv"
most_visited_cities_df = pd.read_csv(csv_path2,encoding="utf-8")
most_visited_cities_df
# most_populated_cities_df.head()
###-----------------------------#####--------------------------------

    Rank      City Name               Country
0      1      Hong Kong                 China
1      2        Bangkok              Thailand
2      3         London               England
3      4      Singapore             Singapore
4      5          Macau                 China
..   ...            ...                   ...
95    96       Taichung                Taiwan
96    97         Rhodes                Greece
97    98      Abu Dhabi  United Arab Emirates
98    99        Colombo             Sri Lanka
99   100  Washington DC                   USA

[100 rows x 3 columns]

## Outbound cities

In [3]:

# ###-----------------------------#####--------------------------------

## Data Acquisitio Outbound Cities#####

#List of outbound cities
outbound_cities = ['Houston','Chicago','New York','Atlanta','Los Angeles','Seattle']
# outbound_cities = ['Stockholm','London'] 
#Empty list to append data acquired
outbound_name = []
destination_country = []
airportID =[]
airportName = []

#City counter kick off. 
city_counter = 1

#Base url
url = "https://skyscanner-skyscanner-flight-search-v1.p.rapidapi.com/apiservices/autosuggest/v1.0/US/USD/en-US/?query="
# url = "https://skyscanner-skyscanner-flight-search-v1.p.rapidapi.com/apiservices/autosuggest/v1.0/UK/GBP/en-GB/?query="
#Print statement to inform when data acquisition start
print(f"Beginning Data Acquisition of Departure City (Airport Code)")
print(f"------------&&&&-------------------")

for i in tqdm(outbound_cities):
    try:
        #Getting the API with the first outbound city in the list (Houston) and loop thru the list
        response = requests.get(url+i,
          headers={
            "x-rapidapi-key": "09ec0160admsh2d5563a7feaa3efp1e2db5jsn5787845ed7fc",
            "x-rapidapi-host": "skyscanner-skyscanner-flight-search-v1.p.rapidapi.com",
          }
    ).json()
        #Export the name and the ID
        outbound_name.append(response["Places"][0]["PlaceName"])
        airportID.append(response["Places"][1]["PlaceId"])
        airportName.append(response["Places"][1]["PlaceName"])
        current_city = response["Places"][0]["PlaceName"]
        
        print(f"Data Acquisition {city_counter} | Outbound City: {current_city}")  
        city_counter = city_counter + 1
    except:
        print("Not a major outbound city")
    continue
    
# Print statement to inform when all records have been acquired.
print(f"------------&&&&---------------")
print(f"Data Acquisition Complete")
print(f"------------&&&&---------------")

Beginning Data Acquisition of Departure City (Airport Code)
------------&&&&-------------------

  0%|          | 0/6 [00:00<?, ?it/s]

Data Acquisition 1 | Outbound City: Houston
Data Acquisition 2 | Outbound City: Chicago
Data Acquisition 3 | Outbound City: New York
Data Acquisition 4 | Outbound City: Atlanta
Data Acquisition 5 | Outbound City: Los Angeles
Data Acquisition 6 | Outbound City: Seattle
------------&&&&---------------
Data Acquisition Complete
------------&&&&---------------

In [4]:
# outbound_name

In [5]:
# airportID

In [6]:
#Creating a data frame of the data acquired
outbound_data = {"City Name": outbound_name, "Airport Name": airportName, "Airport Code": airportID}
outbound_data_df = pd.DataFrame(outbound_data)
outbound_data_df

     City Name                    Airport Name Airport Code
0      Houston  Houston George Bush Intercntl.      IAH-sky
1      Chicago    Chicago O'Hare International      ORD-sky
2     New York        New York John F. Kennedy      JFK-sky
3      Atlanta      Atlanta Hartsfield-Jackson      ATL-sky
4  Los Angeles       Los Angeles International      LAX-sky
5      Seattle  Seattle / Tacoma International      SEA-sky

In [7]:
# export_csv = outbound_data_df.to_csv("City_departure_dataFinal.csv",index = False)

## Destination Cities

In [8]:
#---------------------###########--------------------------------#

#Reading the Most visited Cities file#

#Converting City Name into a list to gather airport code
city_destination_most_visited_list = most_visited_cities_df["City Name"].tolist()

city_destination_most_visited_list

#--------------------------------#########-------------------------------------------

## Destination Most Visited Cities ######

#Empty list to store data
visited_destination_name = []
visited_country = []
visited_destination_airportID =[]
visited_destination_airportName = []

visited_dest_city_counter = 1

#Base URL
url = "https://skyscanner-skyscanner-flight-search-v1.p.rapidapi.com/apiservices/autosuggest/v1.0/US/USD/en-US/?query="
#Print statement to inform when data acquisition start
print(f"Beginning Data Acquisition of Destination City and respective Airport Codes")
print(f"------------&&&&-------------------")

for z in tqdm(city_destination_most_visited_list):
    try:
        response = requests.get(url+z,
          headers={
            "X-RapidAPI-Host": "skyscanner-skyscanner-flight-search-v1.p.rapidapi.com",
            "X-RapidAPI-Key": "09ec0160admsh2d5563a7feaa3efp1e2db5jsn5787845ed7fc"
          }
    ).json()
        visited_destination_name.append(response["Places"][0]["PlaceName"])
        visited_country.append(response["Places"][0]["CountryName"])
        visited_destination_airportID.append(response["Places"][1]["PlaceId"])
        visited_destination_airportName.append(response["Places"][1]["PlaceName"])
        visited_destination_city = response["Places"][0]["PlaceName"]
        
        print(f"Data Acquisition {visited_dest_city_counter} | Outbound City: {visited_destination_city}")  
        visited_dest_city_counter = visited_dest_city_counter + 1
    except:
        print("Not a good city to travel... try another city")
    continue
    
# Print statement to inform when all records have been acquired.
print(f"------------&&&&---------------")
print(f"Data Acquisition Complete")
print(f"------------&&&&---------------")

##-----------------------------####------------------------------------------------------------------------

#Creating data frame of Airport Name and Airport Code of the data acquired
most_visited_destination_data =  {"Airport Name": visited_destination_airportName, "Airport Code": visited_destination_airportID }
most_visited_destination_data = pd.DataFrame(most_visited_destination_data)

#Exporting file to CSV format - Fo you to work on it

Beginning Data Acquisition of Destination City and respective Airport Codes
------------&&&&-------------------

  0%|          | 0/100 [00:00<?, ?it/s]

Data Acquisition 1 | Outbound City: Hong Kong
Data Acquisition 2 | Outbound City: Bangkok
Data Acquisition 3 | Outbound City: London
Data Acquisition 4 | Outbound City: Singapore
Data Acquisition 5 | Outbound City: Macau
Data Acquisition 6 | Outbound City: Dubai
Data Acquisition 7 | Outbound City: Paris
Data Acquisition 8 | Outbound City: New York
Not a good city to travel... try another city
Data Acquisition 9 | Outbound City: Kuala Lumpur
Not a good city to travel... try another city
Data Acquisition 10 | Outbound City: Rome
Data Acquisition 11 | Outbound City: Tokyo
Data Acquisition 12 | Outbound City: Taipei
Data Acquisition 13 | Outbound City: Istanbul
Data Acquisition 14 | Outbound City: Seoul
Not a good city to travel... try another city
Not a good city to travel... try another city
Not a good city to travel... try another city
Data Acquisition 15 | Outbound City: Miami International
Data Acquisition 16 | Outbound City: New Delhi
Not a good city to travel... try another city
Data Acquisition 17 | Outbound City: Barcelona
Not a good city to travel... try another city
Data Acquisition 18 | Outbound City: Shanghai
Data Acquisition 19 | Outbound City: Las Vegas
Data Acquisition 20 | Outbound City: Milan
Not a good city to travel... try another city
Data Acquisition 21 | Outbound City: Antalya
Data Acquisition 22 | Outbound City: Vienna
Data Acquisition 23 | Outbound City: Los Angeles
Not a good city to travel... try another city
Data Acquisition 24 | Outbound City: Osaka
Data Acquisition 25 | Outbound City: Berlin Brandenburg
Data Acquisition 26 | Outbound City: Agra
Not a good city to travel... try another city
Data Acquisition 27 | Outbound City: Johannesburg
Data Acquisition 28 | Outbound City: Venice
Not a good city to travel... try another city
Data Acquisition 29 | Outbound City: Orlando
Data Acquisition 30 | Outbound City: Riyadh
Not a good city to travel... try another city
Data Acquisition 31 | Outbound City: Dublin
Data Acquisition 32 | Outbound City: Florence
Not a good city to travel... try another city
Data Acquisition 33 | Outbound City: Moscow
Data Acquisition 34 | Outbound City: Athens International
Data Acquisition 35 | Outbound City: Jaipur
Data Acquisition 36 | Outbound City: Beijing
Not a good city to travel... try another city
Data Acquisition 37 | Outbound City: Toronto
Data Acquisition 38 | Outbound City: Hanoi
Data Acquisition 39 | Outbound City: Sydney
Data Acquisition 40 | Outbound City: San Francisco International
Not a good city to travel... try another city
Not a good city to travel... try another city
Data Acquisition 41 | Outbound City: Punta Cana
Not a good city to travel... try another city
Data Acquisition 42 | Outbound City: Munich
Not a good city to travel... try another city
Data Acquisition 43 | Outbound City: Lisbon
Data Acquisition 44 | Outbound City: Penang
Data Acquisition 45 | Outbound City: Doha
Data Acquisition 46 | Outbound City: Copenhagen
Not a good city to travel... try another city
Not a good city to travel... try another city
Not a good city to travel... try another city
Not a good city to travel... try another city
Data Acquisition 47 | Outbound City: St Petersburg Pulkovo
Data Acquisition 48 | Outbound City: Jeju
Not a good city to travel... try another city
Data Acquisition 49 | Outbound City: Chiang Mai
Data Acquisition 50 | Outbound City: Warsaw Chopin
Not a good city to travel... try another city
Data Acquisition 51 | Outbound City: Honolulu International
Data Acquisition 52 | Outbound City: Melbourne
Data Acquisition 53 | Outbound City: Ben Gurion Intl
Data Acquisition 54 | Outbound City: Marrakech Menara
Data Acquisition 55 | Outbound City: Brussels
Data Acquisition 56 | Outbound City: Auckland International
Data Acquisition 57 | Outbound City: Vancouver
Data Acquisition 58 | Outbound City: Jakarta
Data Acquisition 59 | Outbound City: Frankfurt
Not a good city to travel... try another city
Not a good city to travel... try another city
Data Acquisition 60 | Outbound City: Stockholm
Data Acquisition 61 | Outbound City: Rio De Janeiro
Not a good city to travel... try another city
Data Acquisition 62 | Outbound City: Buenos Aires
Not a good city to travel... try another city
Not a good city to travel... try another city
Data Acquisition 63 | Outbound City: Nice
Data Acquisition 64 | Outbound City: Mexico City Juarez International
Data Acquisition 65 | Outbound City: Lima
Data Acquisition 66 | Outbound City: Montreal
Not a good city to travel... try another city
Data Acquisition 67 | Outbound City: Rhodes
Data Acquisition 68 | Outbound City: Abu Dhabi
Data Acquisition 69 | Outbound City: Colombo
Data Acquisition 70 | Outbound City: Washington D.C.
------------&&&&---------------
Data Acquisition Complete
------------&&&&---------------

In [9]:
# most_visited_destination_data.head()

In [10]:
# export_to_csv2 = most_visited_destination_data.to_csv("most_visited_destination_dataFINAL.csv",index = False)

## Let's get some routes

In [11]:
#Creating a list for name of the airport for the outbound cities
outbound_airport_code_tolist = outbound_data_df['Airport Code'].tolist()
outbound_airport_code_tolist

['IAH-sky', 'ORD-sky', 'JFK-sky', 'ATL-sky', 'LAX-sky', 'SEA-sky']

In [12]:
# most_visited_cities_df

In [13]:
#Reading csv of most visited cities
most_visited_destination = "most_visited_destination_dataFINAL.csv"
most_visited_cities_df = pd.read_csv(most_visited_destination,encoding="utf-8")
most_visited_cities_df

                       Airport Name Airport Code
0                    Hong Kong Intl      HKG-sky
1              Bangkok Suvarnabhumi      BKK-sky
2                   London Heathrow      LHR-sky
3                  Singapore Changi      SIN-sky
4                             Macau      XZM-sky
..                              ...          ...
65  Montreal Pierre Elliott Trudeau      YUL-sky
66                       Providence      PVD-sky
67          Abu Dhabi International      AUH-sky
68            Colombo Bandaranayake      CMB-sky
69         Washington Ronald Reagan      DCA-sky

[70 rows x 2 columns]

In [14]:
#Creating a list for name of the airport of the most visited cities
most_visited_cities_airport_list = most_visited_cities_df['Airport Code'].tolist()

In [15]:
# most_visited_cities_airport_list

In [16]:
#------------------------------------###--------------------------------------------------------

# Routes for all most visitied cities and one city outbound and fixed dates

#Empty list to store data
carriers_info = []
places_info = []
quotes_info = []

#Base API url for routes
base_url = "https://skyscanner-skyscanner-flight-search-v1.p.rapidapi.com/apiservices/browseroutes/v1.0/US/USD/en-US/"

headers={"X-RapidAPI-Host": "skyscanner-skyscanner-flight-search-v1.p.rapidapi.com",
    "X-RapidAPI-Key": "077cfd7813mshfe97bf766bd036dp106fd9jsneb6caf492da9"}

#Variables for the url
originplace = outbound_airport_code_tolist
destinationplace = most_visited_cities_airport_list
outboundpartialdate = ["2021-06-01"]
inboundpartialdate = ["2021-06-30"]

#Start counter for the loop
destination_counter = 1

#Print statement to inform when data acquisition start
print(f"Beginning Data Acquisition from {outbound_airport_code_tolist[1]} airport to the most visited cities in the world !!!")
print(f"------------&&&&-------------------")

for x in tqdm(destinationplace):
    try:
        response = requests.get(base_url+outbound_airport_code_tolist[1]+"/"+x+ "/"+outboundpartialdate[0]+"?inboundpartialdate="+inboundpartialdate[0], headers=headers).json()
        #Append values to the empty list
        carriers_info.append(response['Carriers'])
        places_info.append(response['Places'])
        quotes_info.append(response['Quotes'])
        
        print(f"Data Acquisition {destination_counter} | Outbound City: {outbound_airport_code_tolist[1]}")  
        
        destination_counter = destination_counter + 1
    except:
        print("Route not found...!!")
    continue
    
# Print statement to inform when all records have been acquired.
print(f"------------&&&&---------------")
print(f"Data Acquisition Complete")
print(f"------------&&&&---------------")      

################################################################################################################

#Loop thru the carriers information data that contains independent dictionaries and append results to a empty list
carriers_list = []
for x in range(len(carriers_info)):
    for y in range(len(carriers_info[x])):
        #print(carriers_info[x][y])
        carriers_list.append(carriers_info[x][y])
        

#Loop thru the places information data that contains dictionaries and append results to a empty list
places_list = []
for i in range(len(places_info)):
    for j in range(len(places_info[i])):
        #print(places_info[i][j])
        places_list.append(places_info[i][j])
        
#Loop thru the quoute information data that contains nested dictionaries and append results to a empty list
#Noted the nested dictionary of the outboundleg which is append to the outbound list
quotes_list = []
outbound_list = []
for z in range(len(quotes_info)):
    for w in range(len(quotes_info[z])):
        quotes_list.append(quotes_info[z][w])
        outbound_list.append(quotes_info[z][w]['OutboundLeg'])    
        
##################################################################################################################3

#Creating the data frame of carrriers
carriers_df = pd.DataFrame(carriers_list)
carriers_df
#Exporting dataframe into csv format
export_csv = carriers_df.to_csv('carriers_df.csv',index = False)
len(carriers_df)

#######################################################################################################################
#Creating the data frame for places
places_df = pd.DataFrame(places_list)
places_df
#Exporting dataframe into csv format
export_csv = places_df.to_csv('placescsv.csv',index = False)
places_df

####################################################################################################################
#Create the data frame of the quotes list
quotes_df = pd.DataFrame(quotes_list)
quotes_df.head()

#Create the data frame of the outbound list
outbound_df = pd.DataFrame(outbound_list)
outbound_df

#Merged both data frames together on the index since data is symetric
merged_quotes_outbound = pd.merge(quotes_df,outbound_df, left_index = True, right_index = True)
merged_quotes_outbound

#Export to CSV 
export_csv = merged_quotes_outbound.to_csv('merged_quotes_outbound.csv',index = False)
#merged_quotes_outbound

Beginning Data Acquisition from ORD-sky airport to the most visited cities in the world !!!
------------&&&&-------------------

  0%|          | 0/70 [00:00<?, ?it/s]

Data Acquisition 1 | Outbound City: ORD-sky
Data Acquisition 2 | Outbound City: ORD-sky
Data Acquisition 3 | Outbound City: ORD-sky
Data Acquisition 4 | Outbound City: ORD-sky
Data Acquisition 5 | Outbound City: ORD-sky
Data Acquisition 6 | Outbound City: ORD-sky
Data Acquisition 7 | Outbound City: ORD-sky
Data Acquisition 8 | Outbound City: ORD-sky
Data Acquisition 9 | Outbound City: ORD-sky
Data Acquisition 10 | Outbound City: ORD-sky
Data Acquisition 11 | Outbound City: ORD-sky
Data Acquisition 12 | Outbound City: ORD-sky
Data Acquisition 13 | Outbound City: ORD-sky
Data Acquisition 14 | Outbound City: ORD-sky
Data Acquisition 15 | Outbound City: ORD-sky
Data Acquisition 16 | Outbound City: ORD-sky
Data Acquisition 17 | Outbound City: ORD-sky
Data Acquisition 18 | Outbound City: ORD-sky
Data Acquisition 19 | Outbound City: ORD-sky
Data Acquisition 20 | Outbound City: ORD-sky
Data Acquisition 21 | Outbound City: ORD-sky
Data Acquisition 22 | Outbound City: ORD-sky
Data Acquisition 23 | Outbound City: ORD-sky
Data Acquisition 24 | Outbound City: ORD-sky
Data Acquisition 25 | Outbound City: ORD-sky
Data Acquisition 26 | Outbound City: ORD-sky
Data Acquisition 27 | Outbound City: ORD-sky
Data Acquisition 28 | Outbound City: ORD-sky
Data Acquisition 29 | Outbound City: ORD-sky
Data Acquisition 30 | Outbound City: ORD-sky
Data Acquisition 31 | Outbound City: ORD-sky
Data Acquisition 32 | Outbound City: ORD-sky
Data Acquisition 33 | Outbound City: ORD-sky
Data Acquisition 34 | Outbound City: ORD-sky
Data Acquisition 35 | Outbound City: ORD-sky
Data Acquisition 36 | Outbound City: ORD-sky
Data Acquisition 37 | Outbound City: ORD-sky
Data Acquisition 38 | Outbound City: ORD-sky
Data Acquisition 39 | Outbound City: ORD-sky
Data Acquisition 40 | Outbound City: ORD-sky
Data Acquisition 41 | Outbound City: ORD-sky
Data Acquisition 42 | Outbound City: ORD-sky
Data Acquisition 43 | Outbound City: ORD-sky
Data Acquisition 44 | Outbound City: ORD-sky
Data Acquisition 45 | Outbound City: ORD-sky
Data Acquisition 46 | Outbound City: ORD-sky
Data Acquisition 47 | Outbound City: ORD-sky
Data Acquisition 48 | Outbound City: ORD-sky
Data Acquisition 49 | Outbound City: ORD-sky
Data Acquisition 50 | Outbound City: ORD-sky
Data Acquisition 51 | Outbound City: ORD-sky
Data Acquisition 52 | Outbound City: ORD-sky
Data Acquisition 53 | Outbound City: ORD-sky
Data Acquisition 54 | Outbound City: ORD-sky
Data Acquisition 55 | Outbound City: ORD-sky
Data Acquisition 56 | Outbound City: ORD-sky
Data Acquisition 57 | Outbound City: ORD-sky
Data Acquisition 58 | Outbound City: ORD-sky
Data Acquisition 59 | Outbound City: ORD-sky
Data Acquisition 60 | Outbound City: ORD-sky
Data Acquisition 61 | Outbound City: ORD-sky
Data Acquisition 62 | Outbound City: ORD-sky
Data Acquisition 63 | Outbound City: ORD-sky
Data Acquisition 64 | Outbound City: ORD-sky
Data Acquisition 65 | Outbound City: ORD-sky
Data Acquisition 66 | Outbound City: ORD-sky
Data Acquisition 67 | Outbound City: ORD-sky
Data Acquisition 68 | Outbound City: ORD-sky
Data Acquisition 69 | Outbound City: ORD-sky
Data Acquisition 70 | Outbound City: ORD-sky
------------&&&&---------------
Data Acquisition Complete
------------&&&&---------------

In [17]:
merged_quotes_outbound

,QuoteId,MinPrice,Direct,OutboundLeg,QuoteDateTime,CarrierIds,OriginId,DestinationId,DepartureDate
0,1,613,False,"{'CarrierIds': [1464], 'OriginId': 73076, 'Des...",2021-01-14T17:48:00,[1464],73076,42795,2021-06-01T00:00:00
1,1,315,False,"{'CarrierIds': [1793], 'OriginId': 73076, 'Des...",2021-01-14T16:21:00,[1793],73076,44759,2021-06-01T00:00:00
2,2,537,True,"{'CarrierIds': [1218], 'OriginId': 73076, 'Des...",2021-01-14T16:21:00,[1218],73076,44759,2021-06-01T00:00:00
3,1,158,False,"{'CarrierIds': [1793], 'OriginId': 73076, 'Des...",2021-01-15T05:16:00,[1793],73076,60987,2021-06-01T00:00:00
4,2,191,True,"{'CarrierIds': [870], 'OriginId': 73076, 'Dest...",2021-01-15T05:16:00,[870],73076,60987,2021-06-01T00:00:00
5,1,91,True,"{'CarrierIds': [1467], 'OriginId': 73076, 'Des...",2021-01-15T03:27:00,[1467],73076,65363,2021-06-01T00:00:00
6,1,126,True,"{'CarrierIds': [851], 'OriginId': 73076, 'Dest...",2021-01-15T15:18:00,[851],73076,65368,2021-06-01T00:00:00
7,1,80,True,"{'CarrierIds': [1467], 'OriginId': 73076, 'Des...",2021-01-13T22:19:00,[1467],73076,67759,2021-06-01T00:00:00
8,1,293,False,"{'CarrierIds': [1793], 'OriginId': 73076, 'Des...",2021-01-14T12:50:00,[1793],73076,43141,2021-06-01T00:00:00
9,2,654,True,"{'CarrierIds': [1368], 'OriginId': 73076, 'Des...",2021-01-13T20:26:00,[1368],73076,43141,2021-06-01T00:00:00
10,1,1057,True,"{'CarrierIds': [1368], 'OriginId': 73076, 'Des...",2021-01-16T05:49:00,[1368],73076,52337,2021-06-01T00:00:00
11,1,338,False,"{'CarrierIds': [1760], 'OriginId': 73076, 'Des...",2021-01-16T05:04:00,[1760],73076,40830,2021-06-01T00:00:00
12,2,903,True,"{'CarrierIds': [1707], 'OriginId': 73076, 'Des...",2021-01-16T05:04:00,[1707],73076,40830,2021-06-01T00:00:00
13,1,172,False,"{'CarrierIds': [1793], 'OriginId': 73076, 'Des...",2021-01-13T13:53:00,[1793],73076,40065,2021-06-01T00:00:00
14,2,307,True,"{'CarrierIds': [1793], 'OriginId': 73076, 'Des...",2021-01-13T13:53:00,[1793],73076,40065,2021-06-01T00:00:00
15,1,105,True,"{'CarrierIds': [1793], 'OriginId': 73076, 'Des...",2021-01-16T02:56:00,[1793],73076,47009,2021-06-01T00:00:00

# Let's see with user input data and graph the Maps

In [2]:
# %pip install gmplot
%conda install -c conda-forge gmaps
import gmplot
from pprint import pprint
import gmaps
# %matplotlib inline
# Google developer API key
# from config import gkey
# from config2 import geokey

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Users\pablo\Anaconda3\envs\dev

  added / updated specs:
    - gmaps


The following NEW packages will be INSTALLED:

  geojson            conda-forge/noarch::geojson-2.5.0-py_0
  gmaps              conda-forge/noarch::gmaps-0.9.0-py_0


Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

Note: you may need to restart the kernel to use updated packages.

In [6]:
import os
from dotenv import load_dotenv
load_dotenv()

True

In [7]:
gkey=os.getenv("gkey")
geokey=os.getenv("geokey")

In [9]:
# Configure gmaps
%pip install opencage

gmaps.configure(api_key=gkey)
from opencage.geocoder import OpenCageGeocode

Collecting opencage
  Using cached opencage-1.2.2-py3-none-any.whl (6.1 kB)
Requirement already satisfied: pyopenssl>=0.15.1 in c:\users\pablo\anaconda3\envs\dev\lib\site-packages (from opencage) (20.0.1)
Requirement already satisfied: Requests>=2.2.0 in c:\users\pablo\anaconda3\envs\dev\lib\site-packages (from opencage) (2.25.1)
Requirement already satisfied: six>=1.4.0 in c:\users\pablo\anaconda3\envs\dev\lib\site-packages (from opencage) (1.15.0)
Collecting backoff>=1.10.0
  Using cached backoff-1.10.0-py2.py3-none-any.whl (31 kB)
Requirement already satisfied: cryptography>=3.2 in c:\users\pablo\anaconda3\envs\dev\lib\site-packages (from pyopenssl>=0.15.1->opencage) (3.3.1)
Requirement already satisfied: cffi>=1.12 in c:\users\pablo\anaconda3\envs\dev\lib\site-packages (from cryptography>=3.2->pyopenssl>=0.15.1->opencage) (1.14.4)
Requirement already satisfied: pycparser in c:\users\pablo\anaconda3\envs\dev\lib\site-packages (from cffi>=1.12->cryptography>=3.2->pyopenssl>=0.15.1->opencage) (2.20)
Requirement already satisfied: idna<3,>=2.5 in c:\users\pablo\anaconda3\envs\dev\lib\site-packages (from Requests>=2.2.0->opencage) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\pablo\anaconda3\envs\dev\lib\site-packages (from Requests>=2.2.0->opencage) (2020.12.5)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\pablo\anaconda3\envs\dev\lib\site-packages (from Requests>=2.2.0->opencage) (1.26.2)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\pablo\anaconda3\envs\dev\lib\site-packages (from Requests>=2.2.0->opencage) (4.0.0)
Installing collected packages: backoff, opencage
Successfully installed backoff-1.10.0 opencage-1.2.2
Note: you may need to restart the kernel to use updated packages.

In [10]:
#Ask the user where he/she would like to travel
question0 = ("What is your departure city (Houston)? ")
departure_city = input(question0)
print("")
question1 =("Name one city that you would like to go on vacation (Paris)? ")
vacation_city = input(question1)
print("")
question1a =("Now name your second option of city that you would like to go on vacation (Newcastle)? ")
vacation_citya = input(question1a)
print("")
question2 =("What is your desire departure date (yyyy-mm-dd)? ")
departure_date = input(question2)
print("")
question3 =("What is your desire return date (yyyy-mm-dd)? ")
return_date = input(question3)

#print(f"-----------------&&&--------------------------")
print("")
#print(f"Thank you for selecting QUEST FLIGHTS. We are starting the search of best quotes: Flying from {departure_city} to {vacation_city}")
print("")
#print(f"and {vacation_citya} on {departure_date} and returning on {return_date}..")

In [11]:
departure_city

'Houston'

In [12]:
############################### Getting first travel information #################################

combined_cities = [departure_city,vacation_city, vacation_citya]

cities_name = []
country_name = []
airportID =[]
airportName = []

#City counter kick off. 
city_counter = 1

#Base url
url = "https://skyscanner-skyscanner-flight-search-v1.p.rapidapi.com/apiservices/autosuggest/v1.0/US/USD/en-US/?query="

#Print statement to inform when data acquisition start
print(f"Beginning Data Acquisition")
print(f"------------&&&&-------------------")

for i in tqdm(combined_cities):
    try:
        #Getting the API with the first outbound city in the list (Houston) and loop thru the list
        response = requests.get(url+i,
          headers={
            "X-RapidAPI-Host": "skyscanner-skyscanner-flight-search-v1.p.rapidapi.com",
            "X-RapidAPI-Key": "09ec0160admsh2d5563a7feaa3efp1e2db5jsn5787845ed7fc"
          }
    ).json()
        #Export the name and the ID
        cities_name.append(response["Places"][0]["PlaceName"])
        country_name.append(response["Places"][0]["CountryName"])
        airportID.append(response["Places"][1]["PlaceId"])
        airportName.append(response["Places"][1]["PlaceName"])
        current_city = response["Places"][0]["PlaceName"]
        
        print(f"Data Acquisition {city_counter} | City: {current_city}")  
        city_counter = city_counter + 1
    except:
        print("Route not found...Try another vacation city")
    continue
    
# Print statement to inform when all records have been acquired.
print(f"------------&&&&---------------")
print(f"Data Acquisition Complete")
print(f"------------&&&&---------------")

#Creating data frame of first output
vacation = {'City Name': cities_name, 'Country Name': country_name, 'Airport Name':airportName, 'Airport Code': airportID}
vacation_df = pd.DataFrame(vacation)
vacation_df.rename(index={0:'From'}, inplace=True)
vacation_df.rename(index={1:'To'}, inplace=True)
vacation_df
vacation_airport_codestolist = vacation_df['Airport Code'].tolist()
vacation_airport_codestolist[0]

Beginning Data Acquisition
------------&&&&-------------------

  0%|          | 0/3 [00:00<?, ?it/s]

Data Acquisition 1 | City: Houston
Data Acquisition 2 | City: Paris
Data Acquisition 3 | City: London
------------&&&&---------------
Data Acquisition Complete
------------&&&&---------------

'IAH-sky'

In [13]:
vacation_df

     City Name    Country Name                    Airport Name Airport Code
From   Houston   United States  Houston George Bush Intercntl.      IAH-sky
To       Paris          France         Paris Charles de Gaulle      CDG-sky
2       London  United Kingdom                 London Heathrow      LHR-sky

## Let's do a World Map of the input cities

In [14]:
######################################### World Map #######################################

key = geokey

geocoder = OpenCageGeocode(key)

list_lat = []
list_long = []

print("")
print(f"Beginning Data Acquisition of Destinations Map")
print(f"------------&&&&-------------------")

for index, row in tqdm(vacation_df.iterrows()): #iterate over rows in data frame
    City = row['City Name']
    Country = row['Country Name']
    query = str(City)+','+str(Country)
    print(query)
    results = geocoder.geocode(query)
    lat = results[0]['geometry']['lat']
    long = results[0]['geometry']['lng']
    
    list_lat.append(lat)
    list_long.append(long)

print(f"------------&&&&---------------")
print(f"Data Acquisition Complete")
print(f"------------&&&&---------------")
print("")

Beginning Data Acquisition of Destinations Map
------------&&&&-------------------

|          | 0/? [00:00<?, ?it/s]

Houston,United States
Paris,France
London,United Kingdom
------------&&&&---------------
Data Acquisition Complete
------------&&&&---------------

## Graph the Map

In [15]:
# create a new columns from lists

vacation_df['lat'] = list_lat
vacation_df['long'] = list_long

# Store latitude and longitude in locations
locations = vacation_df[["lat", "long"]]
locations  
# Plot Markers MAp
fig = gmaps.figure()

# Create heat layer
markers = gmaps.marker_layer(locations)


# Add layer
fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))