Variables

This is a comment - any code commented out is not run -<br>
meaning that any code or text commented out is ignored.


<br>
this is a multi-line comment<br>
You can comment out many lines at once.<br>
For the most part you will see single line comments<br>
but it is good to see this.<br>
As in single line comments, any code contained within multi-line comments are not run -<br>
meaning that any code commented out is ignored.<br>

Topic: Strings

Create a variable named `subject` with no value (None).

In [ ]:
subject = None

Assign a value of "Programmers to the variable `subject`.

In [ ]:
subject = "Programmers"

Create a variable, `first_name`, and assign it a value of an empty string.

In [ ]:
first_name = ""

Assign a value of "Ada" to the variable `first_name`.

In [ ]:
first_name = "Ada"

Create a variable, `last_name`, and assign it a value of a string, "Lovelace".

In [ ]:
last_name = "Lovelace"

Create a variable, `full_name`, and assign it a value of the combination of `first_name` and `last_name` with a space.

In [ ]:
full_name = f"{first_name} {last_name}"

Create a variable, `profession`, and assign it a value of a string, "Computer Programmer".

In [ ]:
profession = "Computer Programmer"

Create a variable, `known_for`, and assign it a value of a string, "First Computer Programmer".

In [ ]:
known_for = "First Computer Programmer"

Create a variable, `first_algorithm`, and assign it a value of a string, "Analytical Engine".

In [ ]:
first_algorithm = "Analytical Engine"

Create a variable, `city_location`, and assign it a value of a string, "London".

In [ ]:
city_location = "London"

Create a variable, `country_location`, and assign it a value of a string, "England".

In [ ]:
country_location = "England"

Create a variable, `nationality`, and assign it a value of a string, "British".

In [ ]:
nationality = "British"

Topic: Integers

Create a variable, `birth_year`, and assign it with an integer of 1815.

In [ ]:
birth_year = 1815

Create a variable, death_year, and assign it with an integer of 1852.

In [ ]:
death_year = 1852

Create a variable, age_at_passing, and assign it a value of death_year minus birth_year.

In [ ]:
age_at_passing = death_year - birth_year

Create a variable, year_of_publish, and assign it with an integer of 1842.

In [ ]:
year_of_publish = 1842

opic: Print

Print: "First Name: " and `first_name`.

In [ ]:
print(f"First Name: {first_name}")

Print: "Last Name: " and `last_name`.

In [ ]:
print(f"Last Name: {last_name}")

Print: "Profession: " and `profession`.

In [ ]:
print(f"Profession: {profession}")

Print: "BirthYear: " and `birth_year`.

In [ ]:
print(f"Birth Year: {birth_year}")

opic: Concat Values

Create and print a variable, `statement_one`, by assigning it a value of a string:<br>
"Programmers: Ada Lovelace is a British Computer Programmer born in 1815."

In [ ]:
statement_one = f"{subject}: {first_name} {last_name} is a {nationality} {profession} born in {birth_year}."
print(statement_one)

Create and print a variable, `statement_two`, by assigning it a value of a string:<br>
"She is commonly referred to as the First Computer Programmer."

In [ ]:
statement_two = f"She is commonly referred to as the {known_for}."
print(statement_two)

Create and print a variable, `statement_three`, by assigning it a value of a string:<br>
"In 1842 she published the first Algorithm, the Analytical Engine, at the age of 27."

In [ ]:
statement_three = f"In 1842 she published the first Algorithm, {first_algorithm}, at the age of 27."
print(statement_three)

Create and print a variable, `statement_four`, by assigning it a value of a string:<br>
"She was a British Citizen who lived in London, England until her passing in 1852 at the age of 37."

In [ ]:
statement_four = f"She was a {nationality} Citizen who lived in {city_location}, {country_location} until her " \
                 f"passing in {death_year} at the age of {age_at_passing}."
print(statement_four)